Repository eckersleyalexander/orienteering_live_results, pull requests merged in 2019-08, with the labels that each got.

#106 Dev sync
  Orienteering-LR-Desktop/App.xaml.cs
  Orienteering-LR-Desktop/Database/Model.cs
  Orienteering-LR-Desktop/MainWindow.xaml.cs
  Orienteering-LR-Desktop/Migrations/20190514124920_mig.cs
  Orienteering-LR-Desktop/Migrations/CompetitorContextModelSnapshot.cs
  Orienteering-LR-Desktop/OESync.cs
Labels: back end, desktop app

#114 Dev getleaderboarddata json
  Orienteering-LR-Desktop/Database/Model.cs
  Orienteering-LR-Desktop/Database/Query.cs
  Orienteering-LR-Desktop/Database/Store.cs
  Orienteering-LR-Desktop/GetLeaderboard.cs
  Orienteering-LR-Desktop/MainWindow.xaml.cs
  Orienteering-LR-Desktop/Migrations/20190514124920_mig.cs
  Orienteering-LR-Desktop/Migrations/CompetitorContextModelSnapshot.cs
  Orienteering-LR-Desktop/OESync.cs
  Orienteering-LR-Desktop/Orienteering-LR-Desktop.csproj
Labels: back end, desktop app, web app

#119 Dev final times sync
  Orienteering-LR-Desktop/API/LeaderboardAPI.cs
  Orienteering-LR-Desktop/Database/Model.cs
  Orienteering-LR-Desktop/Database/Query.cs
  Orienteering-LR-Desktop/DbisamRead.cs
  Orienteering-LR-Desktop/MainWindow.xaml
  Orienteering-LR-Desktop/MainWindow.xaml.cs
  Orienteering-LR-Desktop/Migrations/20190514124920_mig.cs
  Orienteering-LR-Desktop/Migrations/CompetitorContextModelSnapshot.cs
  Orienteering-LR-Desktop/OESync.cs
Labels: back end, desktop app

#120 Added control message handling and mechanism to register displays
  Orienteering-LR-Desktop/API/ControlSocket.cs
  Orienteering-LR-Desktop/API/LeaderboardSocket.cs
  Orienteering-LR-Desktop/API/SocketClient.cs
  Orienteering-LR-Desktop/API/SocketServer.cs
  Orienteering-LR-Desktop/App.xaml.cs
Labels: back end, desktop app, web app

#121 Dev websockets api
  Orienteering-LR-Desktop/API/LeaderboardSocket.cs
  Orienteering-LR-Desktop/App.xaml.cs
  Orienteering-LR-Desktop/Database/Query.cs
  Orienteering-LR-Desktop/GetLeaderboard.cs
Labels: back end, web app
